<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xsi:schemaLocation="NLog NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true">

    <!-- Replace -->
    <variable name="replacePasswordsMessage"
        value="${replace:searchFor=(?i)(?&lt;=password=)(.*?)(?=(\;|$| )):replaceWith=***:regex=true:inner=${message}}" />
    <variable name="replacePasswordsMessageJson"
        value="${replace:searchFor=(?i)(?&lt;=&quot;[Pp]assword&quot;)(.*?)(?\:($| )):replaceWith=\:&quot;***&quot;:regex=true:inner=${replacePasswordsMessage}}" />

    <variable name="outputMessage"
        value="${replacePasswordsMessageJson}" />
    <!-- Variables -->
    <variable name="LogLayout"
        value="${longdate}|${level:uppercase=true}|${logger}|${outputMessage}"/>
    <variable name="LogHome"
        value="${currentdir:dir=logs}"/>
    <variable name="LogArchive"
        value="${currentdir:dir=logs/archive}"/>
    <variable name="LogName"
        value="${shortdate}"/>

    <!-- Targets -->
    <targets>
        <target name="default"
            xsi:type="ColoredConsole"
            encoding="utf-8"
            layout="${LogLayout}" />
    </targets>

    <!-- Rules -->
    <rules>
        <!-- BlackHole that swallows everything -->
        <logger name="Microsoft.*"
            minlevel="Trace"
            final="true" />
        <!-- BlackHole that swallows non-critical -->
        <logger name="Microsoft.*"
            maxLevel="Info"
            final="true" />
        <!-- Normal log -->
        <logger name="*"
            minlevel="Debug"
            writeTo="default" />
    </rules>
</nlog>
